*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 25px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 1px solid red;
    align-items: center;
    flex-direction: row-reverse;
    /* padding: 25px; */
    /* gap: 20px; */
}